* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(231, 207, 207);
}

body {
  background-color: rgb(187, 92, 187);
}

.navbar {
  background: #853485;
  color: #f3ecec;
  padding: 15px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul.links li:hover {
  background: rgb(224, 87, 241);
  cursor: pointer;
  color: #c019b8;
}
.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produtos-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
}

.card img {
  height: 350px;
  width: 100%;
  margin: 10px;
}

footer {
  background-color: rgb(131, 42, 143);
  padding: 25px;
  text-align: center;
}
